alembic==0.9.8
aniso8601==2.0.0
apipkg==1.4
argh==0.26.2
attrs==17.4.0
boto3==1.5.20
botocore==1.8.34
certifi==2018.1.18
chardet==3.0.4
click==6.7
colorama==0.3.9
coverage==4.4.2
docopt==0.6.2
docutils==0.14
emoji==0.4.5
execnet==1.5.0
factory-boy==2.8.1
Faker==0.8.10
flake8==3.5.0
Flask==0.12.2
Flask-Cors==3.0.3
Flask-RESTful==0.3.6
fuzzywuzzy==0.16.0
idna==2.6
inflection==0.3.1
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
Mako==1.0.7
markdown2==2.3.5
MarkupSafe==1.0
marshmallow==2.15.0
marshmallow-enum==1.4.1
mccabe==0.6.1
monotonic==1.4
pathtools==0.1.2
pep8==1.7.1
pluggy==0.6.0
psycopg2-binary==2.7.4
py==1.10.0
pycodestyle==2.3.1
pyflakes==1.6.0
pytest==3.3.2
pytest-cache==1.0
pytest-cov==2.5.1
pytest-env==0.6.2
pytest-factoryboy==1.3.1
pytest-flake8==0.9.1
pytest-flask==0.10.0
pytest-forked==0.2
pytest-mock==1.6.3
pytest-pep8==1.0.6
pytest-watch==4.1.0
pytest-xdist==1.22.0
python-dateutil==2.6.1
python-editor==1.0.3
pytz==2017.3
PyYAML==3.12
requests==2.18.4
s3transfer==0.1.12
six==1.11.0
slackclient==1.1.0
SQLAlchemy==1.2.5
tenacity==4.8.0
text-unidecode==1.1
urllib3==1.22
watchdog==0.8.3
websocket-client==0.46.0
Werkzeug==0.14.1
